@model IEnumerable<NetCoreCRUDAjax.Models.Transaction>

<h1 class="text-center">Bank Transactions <i class="fas fa-comment-dollar text-success"></i> </h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}